

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
   overflow-y: hidden; 
  
  }
  
  .chatbot-container {
   display: flex;
   /* justify-content: space-between; */
    /* margin: 20px auto; */
   height: 100vh;
   width: 100%;
  }
  /* Left Section Styles */
  .left-section{
    flex: 1 ;
    /* width: 20%; */
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    height: 100vh;
  }
  .left-section-top {
    height: 10vh;
    /* padding: 20px; */
    background-color: #BAA898;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    flex-shrink: 0;
  }
  /* .new-chat-options{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
  }
  .new-chat-options p  {
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: bold ;
    text-align: center;
  } */
  .left-section .menu{
    display: none;
  }
  .new-chat-button{
  background-color: transparent;
  border: none;
  /* border-radius: 100%; */
  padding: 1.27rem;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
  color: #252627;
  font-weight: bold ;
  font-size: 16px;  
        font-family: 'Inter Tight', sans-serif;
  }
  .new-chat-options .fa-pen-to-square{
  height: 1.2rem; 
  padding-left:1rem;
  }
  
  .new-chat-options :hover {
    background-color: #736666;
  }
  .left-section-mid{
    height: 76vh; 
    display: flex;
    flex-direction: column;
    background-color: #BAA898;
  
  }
  .chat-history {
    padding: 5px;
    width: 18rem;
  }
  .hchats>p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #252627;
    margin: 0;
    max-width: 100%;
    max-height: 10vh;
          font-family: 'Inter Tight', sans-serif;
          text-align: center;
  
  }
  .hchats{
    
    background-color: transparent;
    border: none;
    overflow: hidden;
    padding: 10px ;
    border-radius: 10px;
    white-space: nowrap;
    margin: 0;
    width: 100%;}
  
    .hchats:hover{
      background-color:#736666 ;
    }
  
  .left-section-bottom{
    display: flex;
    align-items: center;
    /* min-height: 15vh; */
    background-color: #736666;
    margin-top: auto; /* Move to the bottom */
    width: 100%;
    z-index:  10; 
  min-width: 100%;
  box-sizing: border-box; 
  
  }
  
  
  .user-info {
    /* 
    align-items: center;
    height: 120px;
    /* margin-left: auto; */
    font-family:'Montserrat', sans-serif;
    color: #000;
    font-weight: bold;
    display: flex;
    /* text-align: right; */
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
          font-family: 'Inter Tight', sans-serif;
    
  }
  
  .user-info img {
    border-radius: 50%;
    margin-right: 10px;
  
  } 
  
  /* Right Section Styles */
  .right-section {
    /* flex: 1 55%; */
    margin-bottom: 0;
      width: 100%;
      height: 100vh;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .right-top{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
  }
  .transparent-window{
    position: fixed;
    /* margin-left: auto; */
    top: 0;
    padding: 14px;
    /* left: 100vw; */
    width: 100%;
    background-color: rgba(186, 168, 152, 0.5); /* Adjust the alpha (opacity) value as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    z-index: 20;
  
  }
  
  .back-button{
  background-color: transparent;
  border: transparent;
  padding: 8px;
  
  
  }
  .back-button :active{
  background-color: rgba(186, 168, 152, 0.5); /* Adjust the alpha (opacity) value as needed */
  border-radius: 50px;
  }
  .back-button .fa-arrow-left {
  margin-right: 10px; /* Adjust the margin as needed */
  }
  
  
  
  .right-section-mid{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: 86vh
  }
  .name{
    font-weight: bold;
   margin-bottom: 0.5rem;
   font-family: 'Montserrat', sans-serif;
  }
   .text{
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
    color: #252627;
    
  
  } 
  
  .chat{
    margin: 1.5rem;
    padding: 1.5rem 2rem;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    word-wrap: break-word;
  }
  .bot{
    background: #BAA898;
    width: fit-content;
    border-radius: 0.5rem;
  }
  .you{
    font-weight: 600;
          font-family: 'Inter Tight', sans-serif;
  
    
  }
  .chat-img{
    object-fit: cover;
    height: auto;
    width: 2.95rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
  }
    /* Chat Interaction Styles */
  .chat-footer {
     width: 100%; 
      display: flex;
      height: 15vh;
      /* align-items: baseline;
      padding: 12px;
      padding-bottom: 20px; */
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      z-index: 30;
    }
  .chat-interaction{
    padding: 0.5rem;
    background-color: #BAA898;
    display: flex;
    align-items: center;
    border-radius: 0.999rem ;
    width:100% ;
    
  }
  .chat-interaction>.text-input, .send-button{
  background-color: transparent;
  border:none;
  }
  .send-button {
    padding: 12px;
    background-color: #BAA898;
    color: #252627;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2px;
    width: 2.5rem;
  }
  
  .send-button:hover {
    background-color: #736666; /* Change color on hover */
  }
  .text-input{
    width: calc(100%);
    outline: none;
    padding-top: 0.2rem ;
    padding-top: 0.8rem;
    color:#212427;
    resize: none;
          font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    /* margin-top: 10px; */
    overflow: hidden; 
  }
  .transparent-window .only-new-chat-button{
    display: none;
  }
  .transparent-window .only-new-chat-button :active {
    background-color: #736666;
  }
  .text-input::placeholder{
  color: #212427;
  }
  /* .text-input {
      flex: 1;
      padding-left: 10px;  
      margin-right: 10px;
      border: 1px solid #BAA898;
      border-radius: 12px;
      background-color: #736666;
      height: 52px;
      font-family: 'Montserrat', sans-serif;
      color: #000;
      word-wrap: break-word; 
      overflow-wrap: break-word; 
     overflow-y: hidden;
     resize:none;
    
    
    } */
    .left{
  background-color: #BAA898;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: black;
    }
  .transparent-window .menu {
  display: none;
  }
  .some-text{
    text-align: center;
    font-size: small;
  }
  /* resposive styling */
  @media  (max-width: 768px) {
  .left{
    flex-direction: column;
    /* width: ;  */
  }
  .transparent-window .menu {
  /* 
  position: fixed;
  top: 70px;
  left: 20px;
  z-index: 100; */
  padding-right:10px;
  padding-left: 5px;
  display: inline ;
  background-color: transparent;
  border: none;
  }
  .left.sidebar-visible{
  overflow-x: hidden;
  
  }
  .left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: fixed;
  bottom: 0;
  left: -200rem; /* Initially position it off-screen to the left */
  background-color: #BAA898;
  z-index: 90;
  transition: left 0.3s ease; /* Add a transition effect to the left property */
  }
  .left.sidebar-visible .left-section {
  left: 0;
  background-color: #BAA898;
  }
  
  .left.sidebar-visible button{
  background-color: #BAA898;
  }
  .right.sidebar-visible .menu{
  position: relative;
   left:17rem; 
  }
  .transparent-window .only-new-chat-button{
    padding-left: 10px;
    display: inline ;
  background-color: transparent;
  border: none;
  }
  
  }