* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
li,
button {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}

/** Utils **/
.stars {
  display: inline-block;
  list-style: none;

  li {
    display: inline-block;
    color: #eee;
    font-size: 0.9rem;
  }
}

.rate-5 li:nth-child(-n + 5),
.rate-4 li:nth-child(-n + 4),
.rate-3 li:nth-child(-n + 3),
.rate-2 li:nth-child(-n + 2),
.rate-1 li:nth-child(1) {
  color: #e06f43;
}

.input-wrap {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
    max-height: 150px;
  }

  button[type="submit"] {
    padding: 10px 15px;
    background: #e06f43;
    color: #fff;
    font-size: 0.9rem;
  }
}

.App {
  display: flex;
  overflow: hidden;
}

/** Popup Window **/
.infowindow {
  width: 225px;
  padding: 0;

  .details {
    h2 {
      margin: 0.5rem 0;
      font-size: 1.5rem;
      color: #4611a7;
    }

    .location {
      font-size: 1rem;
      margin-bottom: 1rem;

      i {
        margin-right: 0.25rem;
        opacity: 0.3;
      }
    }
  }
}

/** Modal **/
.modal {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.modal .inner {
  position: relative;
  padding: 20px;
  max-width: 90%; /* Adjust this value for responsiveness */
  background: #eee;
  box-sizing: border-box;
  z-index: 99;
}

.modal .inner .close {
  position: absolute;
  width: 15px;
  height: 15px;
  padding: 6px;
  line-height: 15px;
  right: 0;
  top: 0;
  background: #d7d7d7;
  color: #000;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal .inner .review-list {
  max-height: 80vh;
  overflow-y: scroll;
}

.modal .inner .review-list .review {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  box-sizing: border-box;
}

.modal .inner .review-list .review .author,
.modal .inner .review-list .review .text {
  width: 100%;
}

.modal .inner .review-list .review .author {
  display: flex;
  margin-bottom: 10px;
}

.modal .inner .review-list .review .author .author-thumbnail {
  width: 50px;
}

.modal .inner .review-list .review .author .author-info {
  margin-left: 15px;
  list-style: none;
}

.modal .inner .review-list .review .author .author-info li {
  margin-bottom: 3px;
}

.modal .inner .review-list .review .author .author-info li:last-child {
  margin-bottom: 0;
}

.modal .inner form {
  display: flex;
  flex-wrap: wrap;
}

.modal .inner form .form-group {
  width: 100%;
  margin-bottom: 10px;
}

.modal .inner form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.modal .inner form input,
.modal .inner form textarea,
.modal .inner form select {
  width: 100%;
  padding: 10px;
}

.modal .inner form button {
  padding: 10px 20px;
  background: #e06f43;
  color: #fff;
}

.modal.open {
  display: flex;
}

@media screen and (max-width: 767px) {
  .App {
    height: 99%;
    display: flex;
    flex-direction: column; /* Change flex direction to column */
  }
  #map {
    order: 1; /* Move map below sidebar */
  }

  .sidebar {
    order: 2; /* Move sidebar above map */
  }
}
